---
import React from 'react';
import ButtonCounter from '../components/ButtonCounter';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro + React + TS</title>
  </head>
  <body>
    <ButtonCounter client:load />
  </body>
</html>
