---
import React from 'react';
import BuyList from '../components/BuyList';

const buyList = [
  'Controller',
  'Bread',
  'Water',
  'Notebook',
  'Math Book',
  'Choco Bar',
  'Milk'
];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping List</title>
  </head>
  <body>
    <BuyList items={buyList} />
  </body>
</html>
